:root {
    --light-bg-color: #FBFBFB;
    --dark-grey-0-color: #212121;
    --dark-grey-1-color: #2F2F2F;
    --dark-grey-3-color: #636363;
 
    --mid-grey-1-color: #3C3C3C;
    --mid-grey-2-color: #4C4C4C;
    --mid-grey-3-color: #5F5F5F;

    --light-grey-1-color: #B6B6B6;  /* sidebar key values */
    --light-grey-2-color: #CCC;
    --light-grey-3-color: #F4F4F4;  /* top-nav background*/
    --selected-field: #3686C2;
    --base-color: #9C27B0;
    --primary-button-color: #029290;
    --remove-button-color: #029290;
    --topbar-height: 87px;
    --sidebar-width: 232px;
    --edit-overlay-formwidth: 448px;
}

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    overflow-y: scroll;
    overflow-x: hidden;
    background-color: var(--light-bg-color);
    min-width: 1280px;
}

.hidden {
    display: none !important;
}

/* basics  */
body {
    font-family: 'Source Sans Pro', sans-serif;
    font-size: 14px;
}

h2 {
    width: 100%;    
    display: block;
}

/* fixed top navigation */
/* space reserved for angewandte base navigation */
#topbar {
    display: block;
    position: fixed;
    z-index: 3;
    top: 0;
    width: 100%;
    height: var(--topbar-height);
    background-color: #F0F0F0;
    color: #000;
    padding: 0 18px 0 18px;
    box-shadow: 0px 2px 2px 0px rgba(71,71,71,0.12);
}

#topbar-placeholder {
    width: 100%;
    height: var(--topbar-height);
}

/* the classes of body are used to represent different states:
thumbnails = normal thumbnail browsing
detail-overlay = show the artwork detail overlay
edit-overlay = show the artwork edit overlay
collect-overlay = show the collect-collection overlay */

body:not(.show-thumbnailbrowser) #thumbnailbrowser,
body:not(.show-detail-overlay) #detail-overlay,
body:not(.show-edit-overlay) #edit-overlay,
body:not(.show-collect-overlay) #collect-overlay
{
    display: none;
}

body.show-thumbnailbrowser #thumbnailbrowser,
body.show-detail-overlay #detail-overlay,
body.show-edit-overlay #edit-overlay,
body.show-collect-overlay #collect-overlay
{
    display: table;
}

/* the overlay consists of a content area, a sidebar
and a close button */
.overlay {
    position: relative;
    z-index: 2;
    width: 100%;
    height: 100%;
    padding-top: var(--topbar-height);
    background-color: var(--light-grey-3-color);
}

.overlay .button-close {
    display: block;
    position: fixed;
    top: calc(var(--topbar-height) + 18px);
    right: calc(var(--sidebar-width) + 18px);
    background: url(close_button.svg) no-repeat top left;
    background-size: contain;
    width: 18px;
    height: 18px;
    border: 0;
}

.overlay .content {
    display: table-cell;
    width: calc(100% - var(--sidebar-width));
    height: 100%;
    background-color: var(--light-bg-color);
    vertical-align: middle;
}

.sidebar-detached {
    position: fixed;
    top: 0;
    display: table-cell;
    width: var(--sidebar-width);
    height: 100vh;
    margin-left: calc(100% - var(--sidebar-width));
    background-color: var(--dark-grey-1-color);
    padding: var(--topbar-height) 16px 16px 16px;
    -moz-osx-font-smoothing: grayscale;
    -webkit-font-smoothing: antialiased;
    z-index: 1;
}

.sidebar-attached {
    display: table-cell;
    height: 100%;
    width: calc(var(--sidebar-width) - 32px);
    background-color: var(--dark-grey-1-color);
    padding: 0px 16px 16px 16px;
    text-align: left;
    vertical-align: top;
    -moz-osx-font-smoothing: grayscale;
    -webkit-font-smoothing: antialiased; 
}

/* media queries */
@media (max-width: 1280px) {
    #sidebar-detached {
        margin-left: calc(1280px - var(--sidebar-width)) !important;
    }
    .button-close {
        right: auto !important;
        left: calc(1245px - var(--sidebar-width)) !important;
    }
}

/* thumbnailbrowser */
#thumbnailbrowser {
    height: 100vh;
    width: 100%;
    background-color: var(--light-bg-color);
    border-right: solid var(--sidebar-width) var(--dark-grey-1-color);
    padding: var(--topbar-height) 0 0 0;
}

/* detail-overlay */
#detail-overlay .image-big {
    display: none;
    margin: auto;
}
#detail-overlay .image-big.shown {
    display: block;
}

/* edit-overlay */
#edit-overlay form {
    display: table-row;
}

#edit-overlay .sidebar-attached {
    padding: 0;
}

#edit-overlay .image-wrapperA {
    display: grid;
    min-height: 100%;
    vertical-align: middle;
}

#edit-overlay .image-wrapperB {
    margin: auto;
    position: relative; 
}

#edit-overlay .image-wrapperC {
    height: 100%;
    width: 100%;
    top: 0;
    position: absolute;
    vertical-align: middle;
    display: flex;
}

/* elements inside a sidebar */
.inspector {
    padding-top: 16px;
}

.inspector dt {
    color: var(--light-grey-1-color);
    font-size: 12px;
    line-height: 14px;
    text-transform: uppercase;
    margin-bottom: 4px;
}

.inspector dd {
    color: #fff;
    font-size: 14px;
    line-height: 16px;
    margin: 0 0 24px 0;
    overflow-wrap: break;
    max-width: 200px; 
}

.inspector dt.key-titleEnglish {
    display: none;
}

.inspector dt.key-titleEnglish + dd {
    margin-top: -24px;
}

.inspector-button {
    display: inline-block;
    width: 200px;
    height: 38px;
    margin: 0px 0px 6px 0px;
    border: 0;
    background-color: var(--mid-grey-2-color);
    color: #fff;
    text-transform: uppercase;
    font-family: 'Source Sans Pro', sans-serif;
    font-size: 14px;
}

.artwork-details {
    padding-top: 16px;
}

/* thumbnails */
#thumbnails {
    display: flex;
    flex-flow: row wrap;
    justify-content: flex-start;
}

.thumbnail {
    display: flex;
    flex-direction: column;
    justify-content: center;
    margin: 3px;
    width: 200px;
    height: 248px;
    padding: 10px;
}

.thumbnail:hover {
    background-color: var(--light-grey-3-color);
}

.thumbnail.selected {
    background-color: #fff;
    box-shadow: 0px 2px 2px 0px rgba(71,71,71,0.5);
}

.picture-thumbnail {
    display: block;
    margin: 0 auto 8 auto;
}

.picture-thumbnail-missing {
    width: 180px;
    height: 180px;
    background-color: #E8E8E8;
}

.thumbnail-title {
    text-align: center;
    font-size: 12px;
    font-weight: 400;
    margin: 0 0 4px 0;
    text-overflow: ellipsis;
    white-space: nowrap;
    overflow: hidden;
}

.thumbnail-artist {
    text-align: center;
    font-size: 12px;
    font-weight: 200;
    color: var(--dark-grey-3-color);
    text-overflow: ellipsis;
    white-space: nowrap;
    overflow: hidden;
}

/* thumbnailbrowser navbar */
.thumbnail-navbar {
    width: 100%;
    background-color: #F6F6F6;
    /*border-bottom: 1px solid #F0F0F0;*/
    padding: 18px;
}

.thumbnail-navbar select {

}

.thumbnail-area .navigation {
    display: inline-block;
    box-shadow: 0 0 3px 0 rgba(0,0,0,.05);
}

.thumbnail-area .navigation li {
    display: inline-block;
    background-color:#fff;
    font-weight: 400;
    font-size: 14px;
    text-align: center;
    margin-right: 2px;
    height: 48px;
}

.thumbnail-area .navigation li.selected {
    border-bottom: 2px solid var(--base-color);
}

.thumbnail-area .navigation li a {
    display: table-cell;
    height: 46px;
    min-width: 98px;
    padding: 16px;
    vertical-align: middle;
    text-align: center;
    text-decoration: none;
    color: #000;
}

.thumbnail-area .navigation li a:visited {
    color: #000;
}

.thumbnail-area .navigation li a:hover,
.thumbnail-area .navigation li a:focus,
.thumbnail-area .navigation li a:active
{
    color: var(--base-color);
}

/* searchbar, collection selection */
#search,
#collection-nav {
    display: block;
    float: right;
    margin: 0 auto 0 auto;
    height: 48px;
    background:#fff;
    box-shadow: 0 0 3px 0 rgba(0,0,0,.05);
}

#search form,
#collection-nav form {
    display: inline-block;
    width: 480px;
    height: 48px;
    margin: 0 auto 0 auto;
}

#search form input {
    height: 48px;
    line-height: 48px;
    font-size: 14pt;
    background: url(icons-basiswien-01.516de83.svg) 0 no-repeat;
    background-size: 20px;
}

#search_artworks_field {
    margin: 0 12px 0 12px;
    padding: 0px 0px 0px 28px;
    width: 426px;
    border: 0;
}

#collection-selector {
    display: none;
}

#collection-selector-button {
    width: 480px;
    height: 48px;
    border: 0;
}

#collection-selector-button:active,
#collection-selector-button:focus {
    outline:none;
}

.ui-state-hover, .ui-widget-content .ui-state-hover, .ui-widget-header .ui-state-hover, .ui-state-focus, .ui-widget-content .ui-state-focus, .ui-widget-header .ui-state-focus, .ui-button:hover, .ui-button:focus {
    border: 1px solid #cccccc;
    background: #ededed;
    font-weight: normal;
    color: #2b2b2b;
}

#clear_search_artwork_field {
    display: block;
    float: right;
    height: 48px;
    width: 18px;
    line-height: 48px;
    margin: 0 12px 0 0;
    padding: 0;
    border: 0;
    background: url(close_button_grey.svg) 0 no-repeat;
    background-size: 12px;
    background-position: center;
    top: 0;
    outline-offset: 0px;
}
#search_artworks_submit {
    border: 0;
    margin: 0;
    padding: 0;
}

/* pagination */
.paginator .current-page {
    font-weight: 700;
}

.paginator li {
    display: inline-block;
}


/* collections */

table.collections-list {
    width: 480px;
    margin: 0 auto 0 0;
    border-collapse: separate;
    border-spacing: 0 8px;
    margin-top: -8px;
}

table.collections-list tr {
    box-shadow: 0 0 3px 0 rgba(0,0,0,.05);
}

table.collections-list td {
    background-color: #fff;
    text-align: left;
    height: 50px;
    padding: 16px;
    vertical-align: middle;
    font-size: 14px;
}

table.collections-list td:last-child {
    text-align: right;
}

table.collections-list td.collectButtons button {
    display: inline-block;
    width: 90px;
    height: 28px;
    margin: 0;
    border: 0;
    background-color: var(--mid-grey-2-color);
    color: #fff;
    text-transform: uppercase;
    font-family: 'Source Sans Pro', sans-serif;
    font-size: 14px;
}

table.collections-list button.addToCollection {
    background-color: var(--primary-button-color);
}

table.collections-list button.removeFromCollection {
    background-color: var(--remove-button-color);
}

table.collections-list button.addCollection {
    display: inline-block;
    width: 440px;
    height: 28px;
    margin: 0px 0px 6px 0px;
    border: 0;
    background-color: var(--mid-grey-2-color);
    color: #fff;
    text-transform: uppercase;
    font-family: 'Source Sans Pro', sans-serif;
    font-size: 14px;
}

table.collections-list td button.removeFromCollection {
    display: none;
}

table.collections-list td.remove button.removeFromCollection {
    display: inline-block;
}

table.collections-list td.remove button.addToCollection {
    display: none;
}

.navwrapper.fixed {
    top: 16px !important;
}

.navwrapper {
    position: fixed !important;
}

.thumbnail-area .list {
    padding: 18px;
}

.thumbnail-area .list li {
    display: block;
    height: 48px;
    min-width: 130px;
    padding: 16px;
    background-color:#fff;
    font-weight: 400;
    font-size: 14px;
    text-align: center;
    margin-right: 2px;
}

.pagination {
    display: inline-block;
    margin: 36px 18px 12px 18px;
    box-shadow: 0 0 3px 0 rgba(0,0,0,.05);
}

.pagination li {
    margin: 0;
    background-color: #fff;
}

.pagination li:first-child {
    margin-right: 2px;
}

.pagination li:last-child {
    margin-left: 2px;
}

.pagination li.disabled {
    display: inline-block;
    vertical-align: top;
    margin: 0 auto;
    color: var(--light-grey-2-color);
    height: 32px;
    min-width: 32px;
    text-align: center;
    line-height: 30px;
}

.pagination li.disabled.previous {
    background: url(arrow_left_disabled.svg) no-repeat center center;
}

.pagination li.disabled.next {
    background: url(arrow_right_disabled.svg) no-repeat center center;
}

.pagination li a {
    display: inline-block;
    margin: 0 auto;
    background-color:#fff;
    color: #000;
    height: 32px;
    min-width: 32px;
    text-align: center;
    vertical-align: middle;
    line-height: 30px;
    padding: 0 6px 0 6px;
    text-decoration: none;
}

.pagination li a.previous {
    background: url(arrow_left.svg) no-repeat center center;
}

.pagination li a.next {
    background: url(arrow_right.svg) no-repeat center center;
}

.pagination li a.next:hover,
.pagination li a.next:focus,
.pagination li a.next:active
{
    background: url(arrow_right_hover.svg) no-repeat center center;
}

.pagination li a.previous:hover,
.pagination li a.previous:focus,
.pagination li a.previous:active
{
    background: url(arrow_left_hover.svg) no-repeat center center;
}

.pagination li a:visited {
    color: #000;
}

.pagination li a:hover,
.pagination li a:focus,
.pagination li a:active
{
    color: var(--base-color);
}

.pagination li.current-page a {
    background-color: var(--base-color);
    color: #fff;
    border-color: var(--base-color);
}
