:root {
    --base-bg-color: #F0F0F0;
    --light-bg-color: #FBFBFB;
    --dark-grey-0-color: #212121;
    --dark-grey-1-color: #2F2F2F;
 
    --mid-grey-1-color: #3C3C3C;
    --mid-grey-2-color: #4C4C4C;
    --mid-grey-3-color: #5F5F5F;

    --light-grey-1-color: #B6B6B6;  /* sidebar key values */
    --light-grey-2-color: #CCC;
    --light-grey-3-color: #F4F4F4;  /* top-nav background*/
    --light-grey-4-color: #F6F6F6; /* expert search background */
    --selected-field: #3686C2;
    --base-color: #9C27B0;
    --base-second-color: #89209B;
    --remove-button-color: #F83D24;
    --add-button-color: #47AF46;
    --topbar-height: 55px;
    --topbar-wrapper-height: 87px;
    --footer-wrapper-height: 144px;
    --sidebar-width: 232px;
    --edit-overlay-formwidth: 448px;
}

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body::after{
    position:absolute; width:0; height:0; overflow:hidden; z-index:-1;
    content:url(close_button_active.svg) url(download_pptx_active.svg) url(download_pptx_german_active.svg) url(download_pptx_english_active.svg) url(arrow_right_active.svg) url(arrow_left_active.svg) url(edit_active.svg) url(arrow_down_active.svg);
}

input:focus,
select:focus,
textarea:focus,
button:focus {
    outline: none;
}

input {
    height: 32px;
    padding: 0px 7px 0px 7px;
    box-shadow: 0 0 3px 0 rgba(0,0,0,.05);
    border: 0;
    font-size: 14px;
    font-family: 'Source Sans Pro', sans-serif;
}

body {
    overflow-y: scroll;
    overflow-x: hidden;
    background-color: var(--light-bg-color);
    display: inline-block;
    width: 100%;
    min-width: 1280px;
}

.hidden {
    display: none !important;
}

/* basics  */
body {
    font-family: 'Source Sans Pro', sans-serif;
    font-size: 14px;
}

h2 {
    width: 100%;    
    display: block;
}

h2.centered {
    display: block;
    margin: 36px auto 18px auto;
    width: 800px;
    font-size: 24px;
    font-weight: 400;
    text-align: center;
}

/* base header/footer wrapper */
/* fixed top navigation */
#topbar {
    display: block;
    position: relative;
    /* position: fixed; */
    z-index: 3;
    top: 0;
    width: 100%;
    background-color: var(--base-bg-color);
    color: #000;
    padding: 0;
    box-shadow: 0px 2px 2px 0px rgba(71,71,71,0.12);
}

.topbar-wrapper {
    min-height: var(--topbar-wrapper-height);
}

#topbar.small {
    height: var(--topbar-height);
    position: fixed;
    box-shadow: 0px 2px 2px 0px rgba(71,71,71,0.12);
}

.wrapper{
    box-sizing:border-box;
    display:block;
    margin:0 auto;
    max-width:1400px;
    min-width:305px;
    padding:79px 8px 8px;
    position:relative;
}

#topbar.small .wrapper {
    padding: 0 16px;
    height: var(--topbar-height);
}

.navwrapper.fixed,
.navwrapper.fixed-small
{
    filter: none !important;
}

@media only screen and (min-width:640px){
    .wrapper {
        padding:71px 16px 16px;
    }
}

/* the classes of body are used to represent different states:
thumbnails = normal thumbnail browsing
detail-overlay = show the artwork detail overlay
edit-overlay = show the artwork edit overlay
collect-overlay = show the collect-collection overlay */

body:not(.show-thumbnailbrowser) #thumbnailbrowser,
body:not(.show-detail-overlay) #detail-overlay,
body:not(.show-edit-overlay) #edit-overlay,
body:not(.show-collect-overlay) #collect-overlay
{
    display: none;
}

body.show-thumbnailbrowser #thumbnailbrowser,
body.show-detail-overlay #detail-overlay,
body.show-edit-overlay #edit-overlay,
body.show-collect-overlay #collect-overlay
{
    display: table;
}

body:not(.show-thumbnailbrowser) .wrapper-footer {
    display: none;
}

.wrapper-footer {
    padding: 64px calc(var(--sidebar-width) + 16px) 16px 16px;
}

/* the overlay consists of a content area, a sidebar
and a close button */
.overlay {
    position: absolute;
    z-index: 2;
    width: 100%;
    height: calc(100% - var(--topbar-wrapper-height));
    padding-top: 0;
    background-color: var(--light-grey-3-color);
}

.overlay .button-close {
    display: block;
    position: absolute;
    top: 18px;
    right: calc(var(--sidebar-width) + 16px);
    background:  no-repeat center center url(close_button.svg);
    background-size: 18px 18px;
    width: 26px;
    height: 26px;
    border: 0;
}

.overlay .button-close:hover,
.overlay .button-close:active {
    background-image: url(close_button_active.svg);
}

.overlay .button-close.fixed {
    position: fixed;
    top: 74px;
    z-index: 1200;
}

.overlay .content {
    display: table-cell;
    min-width: calc(1280px - var(--sidebar-width));
    height: 100%;
    background-color: var(--light-bg-color);
    vertical-align: middle;
}

.sidebar-detached {
    position: fixed;
    top: var(--topbar-height);
    display: table-cell;
    width: var(--sidebar-width);
    height: calc(100% - var(--topbar-height));
    margin-left: calc(100% - var(--sidebar-width));
    background-color: var(--dark-grey-1-color);
    padding: 32px 16px 16px 16px;
    -moz-osx-font-smoothing: grayscale;
    -webkit-font-smoothing: antialiased;
    z-index: 1;
}

.sidebar-attached {
    display: table-cell;
    height: 100%;
    width: calc(var(--sidebar-width) - 32px);
    background-color: var(--dark-grey-1-color);
    padding: 0px 16px 16px 16px;
    text-align: left;
    vertical-align: top;
    -moz-osx-font-smoothing: grayscale;
    -webkit-font-smoothing: antialiased; 
}

/* media queries */
@media (max-width: 1083px) {
    .sidebar-detached {
        height: calc(100% - var(--topbar-height));
    }
}

@media (max-width: 1280px) {
    .sidebar-detached {
        margin-left: calc(1280px - var(--sidebar-width)) !important;
    }
    .body {
        overflow-x: scroll;
    }
}

/* thumbnailbrowser */
#thumbnailbrowser {
    height: calc(100vh - var(--topbar-wrapper-height) - var(--footer-wrapper-height));
    width: 100%;
    background-color: var(--light-bg-color);
    padding: 0 var(--sidebar-width) 0 0;
}

/* detail-overlay */
#detail-overlay .image-big {
    display: none;
    margin: auto;
}
#detail-overlay .image-big.shown {
    display: block;
}

#detail-overlay .image-big.picture-missing,
#edit-overlay .image-big.picture-missing {
    width: 590px;
    height: 590px;
    background-color: #E8E8E8;
}

/* edit-overlay */
#edit-overlay form {
    display: table-row;
}

#edit-overlay .sidebar-attached {
    padding: 0;
}

#edit-overlay .image-wrapperA {
    display: grid;
    min-height: 100%;
    vertical-align: middle;
}

#edit-overlay .image-wrapperB {
    margin: auto;
    position: relative; 
}

#edit-overlay .image-wrapperC {
    height: 100%;
    width: 100%;
    top: 0;
    position: absolute;
    vertical-align: middle;
    display: flex;
}

/* elements inside a sidebar */
.inspector {
    padding-top: 18px;
}

.inspector div {
    margin-top: 28px;
}

.inspector > div {
    margin-top: 0px;
}

.inspector-button + div {
    margin-top: 28px;
}

.inspector .key {
    display: block;
    color: var(--light-grey-1-color);
    font-size: 12px;
    line-height: 14px;
    text-transform: uppercase;
    margin-bottom: 4px;
}

.inspector .value {
    color: #fff;
    font-size: 14px;
    line-height: 16px;
    overflow-wrap: break-word;
    max-width: 200px;
    margin-top: 0;
}

.inspector .key-titleEnglish {
    display: none;
}

.inspector .val-titleEnglish {
    display: block;
    margin-top: -16px;
}

.inspector .value.tag {
    display: inline-block;
    padding: 0 8px 0 8px;
    margin-right: 8px;
    margin-bottom: 2px;
    background-color: #31576C;
    border-color: #35627A;
    border-radius: 20px;
    height: 14px;
    line-height: 14px;
    font-size: 14px;
    color: #fff;
    font-weight: 400;
    overflow-wrap: normal;
}

.inspector .value.tag:hover,
.inspector .value.tag:focus,
.inspector .value.tag:active {
    background-color: #366B88;
}

.inspector-button {
    display: inline-block;
    width: 200px;
    height: 38px;
    margin: 0px 0px 6px 0px;
    border: 0;
    background-color: var(--mid-grey-2-color);
    color: #fff;
    text-transform: uppercase;
    font-family: 'Source Sans Pro', sans-serif;
    font-size: 14px;
    line-height: 38px;
    vertical-align: bottom;
    text-align: center;
}

.inspector-button:hover,
.inspector-button:focus,
.inspector-button:active {
    background-color: var(--mid-grey-3-color);
}

.inspector-button.button-move-left,
.inspector-button.button-move-right {
    width: 97px;
}

.inspector-button.button-move-left {
    background: var(--mid-grey-2-color) url(arrow_big_left.svg) no-repeat center;
}

.inspector-button.button-move-right {
    float: right;
    background: var(--mid-grey-2-color) url(arrow_big_right.svg) no-repeat center;
}

.inspector-button.button-move-left:hover,
.inspector-button.button-move-left:focus,
.inspector-button.button-move-left:active {
    background-color: var(--mid-grey-3-color);
}

.inspector-button.button-move-right {
    float: right;
    background: var(--mid-grey-2-color) url(arrow_big_right.svg) no-repeat center;
}

.inspector-button.button-move-right:hover,
.inspector-button.button-move-right:focus,
.inspector-button.button-move-right:active {
    background-color: var(--mid-grey-3-color);
}

.show-collect-overlay .button-collect {
    opacity: 0.4;
}

.show-collect-overlay .button-collect:hover,
.show-collect-overlay .button-collect:active,
.show-collect-overlay .button-collect:focus {
    background-color: var(--mid-grey-2-color); 
}

.artwork-details {
    padding-top: 16px;
}

/* thumbnails */
#thumbnails {
    display: flex;
    flex-flow: row wrap;
    justify-content: flex-start;
}

.thumbnail {
    display: flex;
    position: relative;
    flex-direction: column;
    justify-content: center;
    margin: 3px;
    width: 200px;
    height: 248px;
    padding: 10px;
}

.thumbnail:hover {
    background-color: var(--light-grey-3-color);
}

.thumbnail.selected {
    background-color: #fff !important;
    box-shadow: 0px 2px 2px 0px rgba(71,71,71,0.5);
    border: 0 !important;
}

.picture-thumbnail {
    display: block;
    margin: 0 auto 8 auto;
}

.picture-thumbnail-missing {
    width: 180px;
    height: 180px;
    background-color: #E8E8E8;
}

.thumbnail-title {
    text-align: center;
    font-size: 12px;
    font-weight: 400;
    margin: 0 0 4px 0;
    text-overflow: ellipsis;
    white-space: nowrap;
    overflow: hidden;
}

.thumbnail-artist {
    text-align: center;
    font-size: 12px;
    font-weight: 200;
    color: var(--mid-grey-1-color);
    text-overflow: ellipsis;
    white-space: nowrap;
    overflow: hidden;
}

.thumbnail.orderable {
    margin-right: 0;
    margin-left: 0;
}

.thumbnails:last-child,
.thumbnails:last-child:hover {
    background-color: pink;
}

#thumbnails > .thumbnail:last-child .connector {
    display: none;
}

#thumbnails .connector {
    width: 64px;
}

#thumbnails.editable .connector:hover {
    background: url(connect.svg) no-repeat center;
}

#thumbnails .slide-for-two-artworks {
    display: flex;
    position: relative;
    background-color: #E5E5E5;
    border: 3px solid var(--light-bg-color);
}

.slide-for-two-artworks + .thumbnail {
    margin-left: 64px;
}

.thumbnail + .slide-for-two-artworks {
    margin-left: 64px;
}

.slide-for-two-artworks + .slide-for-two-artworks {
    margin-left: 32px;
}

#thumbnails .slide-for-two-artworks .thumbnail {
    margin: 0;
}

#thumbnails .slide-for-two-artworks .thumbnail + .thumbnail {
    margin: 0;
}

#thumbnails .slide-for-two-artworks .connector {
    position: absolute;
    width: 34px;
    height: 248px;
    left: 183px;
}

#thumbnails.editable .slide-for-two-artworks .connector:hover {
    background: url(disconnect.svg) no-repeat center;
}


/* thumbnailbrowser navbar */
.thumbnail-navbar {
    width: 100%;
    background-color: var(--light-grey-4-color);
    /*border-bottom: 1px solid #F0F0F0;*/
    padding: 18px;
}

.thumbnail-area {
    min-height: 100%;
}

.thumbnail-area .navigation {
    display: inline-block;
    box-shadow: 0 0 3px 0 rgba(0,0,0,.05);
}

.thumbnail-area .navigation li {
    display: inline-block;
    background-color:#fff;
    font-weight: 400;
    font-size: 14px;
    text-align: center;
    margin-right: 2px;
    height: 48px;
    min-width: 130px;
}

.thumbnail-area .navigation li.selected {
    border-bottom: 5px solid var(--base-color);
}

.thumbnail-area .navigation li a {
    display: block;
    text-align: center;
    text-decoration: none;
    color: #000;
    width: 100%;
    height: 100%;
    padding: 16px;
}

.thumbnail-area .navigation li a:visited {
    color: #000;
}

.thumbnail-area .navigation li a:hover,
.thumbnail-area .navigation li a:focus,
.thumbnail-area .navigation li a:active
{
    color: var(--base-color);
}

/* searchbar, collection selection */
#search-basic,
#collection-nav {
    display: block;
    margin: 0 auto 0 auto;
    height: 48px;
}

#collection-nav {
    float: right;
}

#search-basic form,
#collection-nav form {
    display: inline-block;
    height: 48px;
    margin: 0 auto 0 auto;
    vertical-align: top;
}

/* search */

.search-topbar {
    float: right;
    display: block;
}

#search-basic {
    display: inline-block;
    width: 480px;
    max-height: 48px;
    background:#fff;
    box-shadow: 0 0 3px 0 rgba(0,0,0,.05);
    margin-right: 18px;
    opacity: 1;
    transition-duration: 0.1s;
    transition-delay: 0.3s;
}

#search-expert-fold {
    max-height: 0px;
    display: block;
    transition-delay: 0.1s;
    transition-duration: 0.3s;
    transition-timing-function: ease-in;
}

#search-expert-fold.unfolded {
    max-height: 145px;
    transition-timing-function: ease-in;
    transition-duration: 0.3s;
    transition-delay: 0.1s;
}

#search-expert-fold.unfolded-noanimation {
    max-height: 145px;
    transition: none;
}


#search-expert.fadeout,
#search-basic.fadeout {
    opacity: 0;
    transition-duration: 0.1s;
}


#search-basic input {
    height: 48px;
    width: 442px;
    border: 0;
    vertical-align: middle;
    font-size: 14pt;
    background: url(icons-basiswien-01.516de83.svg) 0 no-repeat;
    background-position: left 8px bottom 13px;
    background-size: 20px;
    -webkit-appearance: none;
    padding: 0 0 0 34px;
    margin: 0 0 0 0px;
    box-shadow: none;
}

#search-basic input.clear-search-artwork-field {
    display: block;
    float: right;
    height: 48px;
    width: 18px;
    line-height: 48px;
    margin: 0 12px 0 0;
    padding: 0;
    border: 0;
    background: url(close_button_grey.svg) 0 no-repeat;
    background-size: 12px;
    background-position: center;
    top: 0;
    outline-offset: 0px;
    display: none;
}

#search-basic input.clear-search-artwork-field:hover,
#search-basic input.clear-search-artwork-field:active
{
    display: block;
    float: right;
    height: 48px;
    width: 18px;
    line-height: 48px;
    margin: 0 12px 0 0;
    padding: 0;
    border: 0;
    background: url(close_button_active.svg) 0 no-repeat;
    background-size: 12px;
    background-position: center;
    top: 0;
    outline-offset: 0px;
}

#search-expert {
    display: block;
    transition-duration: 0.5s;
    transition-timing-function: linear;
    opacity: 1;
}

#search-expert input {
    height: 32px;
    width: 100%;
    padding: 0px 7px 0px 7px;
    box-shadow: 0 0 3px 0 rgba(0,0,0,.05);
    font-size: 14px;
    font-family: 'Source Sans Pro', sans-serif;
    border: 0;
    margin: 0 0 8px 0;
}

#search-expert div.column {
    width: 320px;
    display: inline-block;
}

#search-expert div.col-1 {
    margin: 18px 24px 0 0;
}

#search-expert div.col-2 {
    margin: 18px 24px 0 0;
}

#search-expert div.col-3 {
    margin: 18px 0 0 0;
}

#search-expert div.col-2 div {
    display: inline-block;
}

#search-expert div.col-2 div:nth-child(odd) {
    margin-right: 8px;
}

#search-expert div div input {
    width: 156px;
}

#search-expert .search-date-from {
    margin-right: 8px;
}

#search-expert label {
    display: block;
    width: 156px;
    padding-top: 8px;
    color: var(--dark-grey-0-color);
    font-size: 12px;
    text-transform: uppercase;
}

#search-expert .search-expert-submit {
    margin-top: 23px;
    background-color: var(--base-color);
    color: #fff;
}

/* basic/expert search switch */
.switch-labeled {
    display: block;
    float: right;
    height: 48px;
    padding: 0;
}

.switch {
    position: relative;
    display: inline-block;
    width: 50px;
    height: 30px;
}

.switch input {
    opacity: 0;
    width: 0;
    height: 0;
}

.switch .slider {
    position: absolute;
    cursor: pointer;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background-color: var(--light-grey-2-color);
    -webkit-transition: .4s;
    transition: .4s;
    border-radius: 30px;
}

.switch .slider:before {
    position: absolute;
    content: "";
    height: 22px;
    width: 22px;
    left: 4px;
    bottom: 4px;
    background-color: white;
    -webkit-transition: .4s;
    transition: .4s;
    border-radius: 50%;
}

.switch input:checked + .slider {
    background-color: var(--base-color);
}

.switch input:focus + .slider {
    box-shadow: 0 0 1px var(--base-color);
}

.switch input:checked + .slider:before {
    -webkit-transform: translateX(20px);
    -ms-transform: translateX(20px);
    transform: translateX(20px);
}

.switch .text-label-small {
    display: block;
    position: absolute;
    font-size: 10px;
    top: 33px;
    left: 1px;
    color: var(--mid-grey-3-color);
}

/* collection selection */

#collection-selector {
    display: none;
}

#collection-selector-button {
    display: inline-block;
    width: 480px;
    height: 48px;
    border: 0;
    padding: 0 16px 0 16px;
    line-height: 48px;
    font-size: 16px;
    box-shadow: 0 0 3px 0 rgba(0,0,0,.05);
    margin-right: 2px;
    vertical-align: middle;
}

#collection-selector-button:active,
#collection-selector-button:focus {
    outline:none;
}

#js-edit-collection {
    display: inline-block;
    height: 48px;
    min-width: 48px;
    margin: 0px 2px 12px 0px;
    border: 0;
    box-shadow: 0 0 3px 0 rgba(0,0,0,.05);
    background: white url(edit.svg) no-repeat center center;
}

#js-edit-collection:hover,
#js-edit-collection:focus,
#js-edit-collection:active {
    background: white url(edit_active.svg) no-repeat center center;
}

#js-download-pptx {
    display: inline-block;
    height: 48px;
    min-width: 48px;
    margin: 0px 0px 12px 0px;
    border: 0;
    box-shadow: 0 0 3px 0 rgba(0,0,0,.05);
    transition-duration: 0.3s;
    transition-timing-function: ease-out;
    background-color: white;
}

.btn-download-pptx {
    background: white url(download_pptx.svg) no-repeat center center;
    min-width: 48px;
    height: 48px;
    float: left;
}

#js-download-pptx a {
    display: none;
}

#js-download-pptx.unfolding {
    min-width: 144px;
    transition-duration: 0.3s;
    transition-timing-function: ease-out;
}

#js-download-pptx.unfolded {
    min-width: 144px;
    background-color: white;
}

#js-download-pptx.unfolded a,
#js-download-pptx.unfolded div {
    display: inline-block;
    min-width: 48px;
    height: 48px;
    margin: 0px 0px 12px 0px;
    line-height: 48px;
    text-align: center;
    text-decoration: none;
    color: #000;
    vertical-align: bottom;
    font-family: 'Source Sans Pro', sans-serif;
    font-size: 16px;
    background-color: #fff;
}

#js-download-pptx.unfolded a:hover,
#js-download-pptx.unfolded a:focus,
#js-download-pptx.unfolded a:active {
    color: var(--base-color);
}

.btn-download-pptx:hover,
.btn-download-pptx:focus,
.btn-download-pptx:active {
    background: white url(download_pptx_active.svg) no-repeat center center;
}

.btn-download-pptx-german {
    background: white url(download_pptx_german.svg) no-repeat center center;
}

.btn-download-pptx-german:hover,
.btn-download-pptx-german:focus,
.btn-download-pptx-german:active {
    background: white url(download_pptx_german_active.svg) no-repeat center center;
}

.btn-download-pptx-english {
    background: white url(download_pptx_english.svg) no-repeat center center;
}

.btn-download-pptx-english:hover,
.btn-download-pptx-english:focus,
.btn-download-pptx-english:active {
    background: white url(download_pptx_english_active.svg) no-repeat center center;
}



/* collection list */

table.collections-list {
    width: 320px;
    margin: 0 auto 0 auto;
    border-collapse: separate;
    border-spacing: 0 1px;
    table-layout:fixed;
    border-spacing: 0px 8px;
}

table.collections-list tr.addCollection {
    background-color: var(--light-grey-4-color);
}

table.collections-list tr {
    box-shadow: 0 0 3px 0 rgba(0,0,0,.05);
}

table.collections-list th {
    text-align: left;
    padding: 32px 8px 8px 8px;
    vertical-align: middle;
    font-size: 14px;
    overflow: hidden;
    white-space: nowrap;
    text-overflow: ellipsis;
}

table.collections-list td {
    text-align: left;
    padding: 8px;
    vertical-align: middle;
    font-size: 14px;
    overflow: hidden;
    white-space: nowrap;
    text-overflow: ellipsis;
    width: calc(100%-32px);
}

table.collections-list td:last-child {
    text-align: right;
    width: 32px;
}

table.collections-list td.collectButton {
    width: 106px;
}

table.collections-list .addCollectionButton,
table.collections-list button {
    display: inline-block;
    width: 90px;
    height: 28px;
    margin: 0;
    border: 0;
    color: var(--mid-grey-2-color);
    border: 1px solid var(--mid-grey-2-color);
    text-transform: uppercase;
    font-family: 'Source Sans Pro', sans-serif;
    font-size: 14px;
    background-color: #fff;
}

table.collections-list button.addToCollection {
    color: var(--add-button-color);
    border: 1px solid var(--add-button-color);
    background-color: var(--light-bg-color);
}

table.collections-list button.removeFromCollection {
    border: 1px solid var(--remove-button-color);
    color: var(--remove-button-color);
    background-color: var(--light-bg-color);
}

table.collections-list td button.removeFromCollection {
    display: none;
}

table.collections-list td.remove button.removeFromCollection {
    display: inline-block;
}

table.collections-list td.remove button.addToCollection {
    display: none;
}

table.collections-list tr td {
    background-color: #fff;
}

table.collections-list tr td.nocollections {
    text-align: left;
}

#js-collections-select-list tr:hover td,
#js-collections-select-list tr:focus td,
#js-collections-select-list tr:active td {
    color: var(--base-color);
    cursor: pointer;
}

#js-collections-select-list tr.tableheader {
    box-shadow: none;
}

table.collections-list input {
    padding: 0;
    box-shadow: none;
    width: 214px;
}

.thumbnail-area .list {
    padding: 18px;
}

.thumbnail-area .list li {
    display: block;
    height: 48px;
    min-width: 130px;
    padding: 16px;
    background-color:#fff;
    font-weight: 400;
    font-size: 14px;
    text-align: center;
    margin-right: 2px;
}

/* pagination */

.pagination .current-page a {
    font-weight: 600;
    line-height: 30px!important;
    padding-top: 2px !important;
}

.pagination {
    display: inline-block;
    margin: 36px 18px 12px 18px;
    box-shadow: 0 0 3px 0 rgba(0,0,0,.05);
}

.pagination li {
    margin: 0;
    background-color: #fff;
    display: inline-block;
}

.pagination li:first-child {
    margin-right: 2px;
}

.pagination li:last-child {
    margin-left: 2px;
}

.pagination li.disabled {
    display: inline-block;
    vertical-align: top;
    margin: 0 auto;
    color: var(--light-grey-2-color);
    height: 32px;
    min-width: 32px;
    text-align: center;
    line-height: 30px;
}

.pagination li.disabled.previous {
    background: url(arrow_left_disabled.svg) no-repeat center center;
}

.pagination li.disabled.next {
    background: url(arrow_right_disabled.svg) no-repeat center center;
}

.pagination li a {
    display: inline-block;
    margin: 0 auto;
    background-color:#fff;
    color: #000;
    height: 32px;
    min-width: 32px;
    text-align: center;
    vertical-align: middle;
    line-height: 32px !important;
    padding: 0 6px 0 6px;
    text-decoration: none;
}

.pagination li a.previous {
    background: url(arrow_left.svg) no-repeat center center;
}

.pagination li a.next {
    background: url(arrow_right.svg) no-repeat center center;
}

.pagination li a.next:hover,
.pagination li a.next:focus,
.pagination li a.next:active
{
    background: url(arrow_right_active.svg) no-repeat center center;
}

.pagination li a.previous:hover,
.pagination li a.previous:focus,
.pagination li a.previous:active
{
    background: url(arrow_left_active.svg) no-repeat center center;
}

.pagination li a:visited {
    color: #000;
}

.pagination li a:hover,
.pagination li a:focus,
.pagination li a:active
{
    color: var(--base-color);
}

.pagination li.current-page a {
    background-color: var(--base-color);
    color: #fff;
    border-color: var(--base-color);
}

/* jquery-ui adjustments */

.ui-widget.ui-widget-content {
    border: 1px solid #cccccc !important;
    box-sizing: border-box;
}

.ui-menu .ui-menu-item,
.ui-menu .ui-menu-item div {
    width: calc(100% +1px);
    font-size: 14px;
}

.ui-selectmenu-menu .ui-menu .ui-selectmenu-optgroup,
.ui-menu .ui-menu-item-wrapper {
    padding: 4px 4px 4px 4px !important;
}

.ui-state-hover, .ui-widget-content .ui-state-hover, .ui-widget-header .ui-state-hover, .ui-state-focus, .ui-widget-content .ui-state-focus, .ui-widget-header .ui-state-focus, .ui-button:hover, .ui-button:focus {
    border: 0;
    background: #fff !important;
    color: var(--base-color) !important;
}

.ui-state-active, .ui-widget-content .ui-state-active, .ui-button.ui-state-active:hover {
    border-color: var(--base-color) !important;
    background: var(--base-color) !important;
    color: #fff !important;
}

.ui-selectmenu-menu .ui-menu .ui-selectmenu-optgroup {
    font-family: 'Source Sans Pro', sans-serif !important;
    font-size: 14px !important;
    font-weight: 600 !important;
}


.ui-icon {
    background: url(arrow_down.svg) no-repeat center center !important;
    display: inline-block;
    margin-top: 17px !important;
}

.ui-state-hover .ui-icon, 
.ui-state-focus .ui-icon, 
.ui-button:hover .ui-icon, 
.ui-button:focus .ui-icon {
    background: url(arrow_down_active.svg) no-repeat center center !important;
}

/* other */

.not-supported {
    display: none;
}

@media only screen and (max-width:599px) {
    #thumbnailbrowser {
        display: none !important;
    }
    .not-supported {
        display: block;
        padding: 16px;
        min-height: 50%;
    }
}

.nothing-found {
    font-size: 16px;
    padding: 32px 16px 32px 16px;
    text-align: center;
}