{% extends "admin/base.html" %}
{% load i18n %}

{% block title %}{{ DJANGO_ADMIN_TITLE }} | base Angewandte{%  endblock %}

{% block extrastyle %}{{ block.super }}
{# override dark theme #}
<style>
:root {
  --primary: #79aec8;
  --secondary: #417690;
  --accent: #f5dd5d;
  --primary-fg: #fff;

  --body-fg: #333;
  --body-bg: #fff;
  --body-quiet-color: #666;
  --body-loud-color: #000;

  --header-color: #ffc;
  --header-branding-color: var(--accent);
  --header-bg: var(--secondary);
  --header-link-color: var(--primary-fg);

  --breadcrumbs-fg: #c4dce8;
  --breadcrumbs-link-fg: var(--body-bg);
  --breadcrumbs-bg: var(--primary);

  --link-fg: #447e9b;
  --link-hover-color: #036;
  --link-selected-fg: #5b80b2;

  --hairline-color: #e8e8e8;
  --border-color: #ccc;

  --error-fg: #ba2121;

  --message-success-bg: #dfd;
  --message-warning-bg: #ffc;
  --message-error-bg: #ffefef;

  --darkened-bg: #f8f8f8;
  --selected-bg: #e4e4e4;
  --selected-row: #ffc;

  --button-fg: #fff;
  --button-bg: var(--primary);
  --button-hover-bg: #609ab6;
  --default-button-bg: var(--secondary);
  --default-button-hover-bg: #205067;
  --close-button-bg: #888;
  --close-button-hover-bg: #747474;
  --delete-button-bg: #ba2121;
  --delete-button-hover-bg: #a41515;

  --object-tools-fg: var(--button-fg);
  --object-tools-bg: var(--close-button-bg);
  --object-tools-hover-bg: var(--close-button-hover-bg);
}
</style>

{# styles for base header #}
{% if not form.username and not form.password %}
<style>
body{
  background-color: #f0f0f0;
}
#content{
  background-color: #fff;
}
#content-related{
  background-color: transparent;
}
#container{
  box-sizing: border-box;
  margin: 0 auto;
  max-width: 1400px;
  min-width: 305px;
  padding: 76px 8px 8px;
  position: relative;
}
#header{
  background: none;
  flex-direction: row !important;
  height: 10px;
  padding: 0 !important;
}

@media only screen and (min-width:640px){
  #container{
    padding: 92px 16px 16px;
  }
}
</style>
{% endif %}
{% endblock %}

{% block branding %}
  {% if not form.username and not form.password %}
    {% include 'base_header/base_header.html' %}
  {% endif %}
{% endblock %}

{% block usertools %}{% endblock %}
{% block nav-global %}{% endblock %}

{% block footer %}
  {% if not form.username and not form.password %}
    {% comment %}{% include 'base_header/base_footer.html' %}{% endcomment %}
    {% include 'base_header/base_header_script.html' with active='image-admin' %}
  {% endif %}
{% endblock %}
