{% extends "admin/base.html" %}
{% load i18n %}

{% block title %}{{ _('Image Admin') }} | base Angewandte{%  endblock %}

{% block extrastyle %}
  <style type="text/css">body{background-color:#f0f0f0;}#content{background-color:#fff;}#content-related{background-color:transparent;}#container{box-sizing:border-box;margin:0 auto;max-width:1400px;min-width:305px;padding:76px 8px 8px;position:relative;}@media only screen and (min-width:640px){#container{padding:92px 16px 16px;}}#header{background:none;height:10px;padding:0}</style>
{% endblock %}

{% block branding %}
  {% if not form.username and not form.password %}
    {% include 'base_header/base_header.html' %}
  {% endif %}
{% endblock %}

{% block usertools %}{% endblock %}
{% block nav-global %}{% endblock %}

{% block footer %}
  {% if not form.username and not form.password %}
    {% include 'base_header/base_footer.html' %}
    {% include 'base_header/base_header_script.html' with active='image-admin' %}
  {% endif %}
{% endblock %}
