{% load i18n %}

{% comment %}
---------------------------------------------------------
this template defines the overlay the user sees
when she selects a specific collection of artworks
---------------------------------------------------------
{% endcomment %}

<div class="content">
    <div class="center">
        {% spaceless %}
        <h2 class="centered">{% trans 'Add artwork to your collections' %}</h2>
        <form method="POST" action="" id="addCollectionForm">
            <input type="hidden" name="artworkid" value="{{artwork.id}}">
            <table class="collections-list">
            <tr class="addCollection">
                <td><input placeholder="{% trans 'New folder title' %}" name="{% trans 'title' %}" autocomplete="off" role="new collection" autofocus/></td>
                <td class="collectButton"><input type="submit" class="addCollection addCollectionButton" value="{% trans 'add' %}"/></td>
            </tr>
            {% if collections %}
            {% for collection in collections %}
            <tr>
                <td>{{collection.title}}</td>
                <td class="collectButton{% if artwork in collection.artworks.all %} remove{% endif %}">
                    <button class="removeFromCollection" data-collectionid="{{collection.id}}" data-artworkid="{{artwork.id}}">{% trans 'remove' %}</button>
                    <button class="addToCollection" data-collectionid="{{collection.id}}" data-artworkid="{{artwork.id}}">{% trans 'add' %}</button>
                </td>
            </tr>
            {% endfor %}
            {% else %}
                <tr>
                    <td colspan=2>{% trans 'NoCollections' %}</td>
                </tr>
            {% endif %}
        </table>
    </form>
    {% endspaceless %}
    <button name="close" class="button-close"  onClick="hideCollectOverlay()"></button>
    </div>
</div>
    
<div class="sidebar-attached">
    <aside class="inspector" id="collect-overlay-inspector">
        <div>
            <button class="inspector-button">{% trans 'addtocollection' %}</button><button class="inspector-button">{% trans 'Edit' %}</button>
        </div>
    </aside>
</div>

<script>
$(document).ready(function() {  
    var mainPath = '{{ FORCE_SCRIPT_NAME }}';

    $(".removeFromCollection").on('click', function (e) {
        e.preventDefault();
        var artworkID = e.currentTarget.dataset['artworkid'];
        var collectionID = e.currentTarget.dataset['collectionid'];
        var url = mainPath + '/artwork/' + artworkID + '/collect_overlay/';
        $.ajax({
            type: 'POST',
            url: url,
            data: {
                'csrfmiddlewaretoken': '{{ csrf_token }}',
                'artwork-id': artworkID,
                'collection-id': collectionID,
                'action': 'remove'
            },
            success: function(message) {
                e.currentTarget.parentElement.classList.toggle('remove');
            },
            error: function(error) {
                console.log(error);
            }
        })
    });

    $(".addToCollection").on('click', function (e) {
        e.preventDefault();
        console.log('add to Collection');
        var artworkID = e.currentTarget.dataset['artworkid'];
        var collectionID = e.currentTarget.dataset['collectionid'];
        var url = mainPath + '/artwork/' + artworkID + '/collect_overlay/';
        $.ajax({
            type: 'POST',
            url: url,
            data: {
                'csrfmiddlewaretoken': '{{ csrf_token }}',
                'artwork-id': artworkID,
                'collection-id': collectionID,
                'action': 'add'
            },
            success: function(message) {
                e.currentTarget.parentElement.classList.toggle('remove');
            },
            error: function(error) {
                console.log(error);
            }
        })
    });

    $("#addCollectionForm").on('submit', function (e) {
        e.preventDefault();
        var data = $(this).serializeArray();
        var url = mainPath + '/artwork/' + data[0]['value'] + '/collect_overlay/';
        $.ajax({
            type: 'POST',
            url: url,
            data: {
                'csrfmiddlewaretoken': '{{ csrf_token }}',
                'artwork-id': data[0]['value'],
                'collection-title': data[1]['value'],
                'action': 'addCollection'
            },
            success: function(message) {
                updateCollectOverlay(url);
            },
            error: function(error) {
                console.log(error);
            },
            async: true,
        })
    });
});
</script>
