{% load i18n %}

    {% if artworks %}
    <div id="thumbnails">
        {% for artwork in artworks %}
        <div data-url="{{ FORCE_SCRIPT_NAME }}/artwork/{{artwork.id}}" class="thumbnail">
            <div class="vertically-center">
                {% if not artwork.imageOriginal %}
                    <div class="picture-thumbnail picture-thumbnail-missing"></div>
                {% else %}
                    <img class="picture-thumbnail" src="{{artwork.imageOriginal.thumbnail.180x180}}"/>
                {% endif %}
            </div>
            <div class="thumbnail-title">{{artwork.title}}</div>
            <div class="thumbnail-artist">
                {% for artist in artwork.artists.all %}
                    {{ artist.name }}{% if not forloop.last %}, {% endif %}
                {% endfor %}
            </div>
        </div>        
    {% endfor %}
    </div>
    {% else %}
    {% trans 'NoArtworks' %}
    {% endif %}
    <div class="wrapper wrapper-footer">
        <base-footer lang="{{ LANGUAGE_CODE }}" logged-in="{% if user.is_authenticated %}true{% else %}false{% endif %}" post-lang="true" post-csrf="{{ csrf_token }}"></base-footer>
    </div>