{% load static %}
{% load i18n %}
{{ form.media }}

{% comment %}
---------------------------------------------------------
this template defines the overlay the user sees
when she clicks the EDIT button in the inspector
---------------------------------------------------------
{% endcomment %}

<form method="POST" enctype="multipart/form-data" class="editform" action="{% url 'artwork-edit' id %}">
{% csrf_token %}
<div class="content">
    <div class="image-wrapperA">
        <div class="image-wrapperB">
            {% if image_original %}
            <img class="image-big" src="{{image_original.thumbnail.930x768}}"/>
            {% else %}
            <div class="image-big picture-missing"></div>
            <img class="image-big" src="" />
            {% endif %}
            <div class="image-wrapperC">
                    {{ form.image_original.label_tag }}
                    {{ form.image_original }}
                    {{ form.image_original.errors }}
            </div>
        </div>
    </div>
</div>

<div class="sidebar-attached">
    <div class="confirmationarea">
        <div name="cancel" class="inspector-button cancel js-close-edit-overlay" onclick="hideImageAndOverlay(); return false;">{% trans 'Cancel' %}</div><button class="inspector-button confirm" type="submit">{% trans 'Save' %}</button>
    </div>
    {% spaceless %}
    <div class="metadataarea">
        <div>
            {{ form.title.errors }}
            {{ form.title.label_tag }}
            {{ form.title }}
        </div>
        <div>
            {{ form.title_english.errors }}
            {{ form.title_english.label_tag }}
            {{ form.title_english }}
        </div>
        <div>
            {{ form.artists.errors }}
            {{ form.artists.label_tag }}
            {{ form.artists }}
        </div>
        <div>
            <div class="input-medium">
                {{ form.date.errors }}
                {{ form.date.label_tag }}
                {{ form.date }}
            </div>
            <div class="input-small">
                {{ form.date_year_from.errors }}
                {{ form.date_year_from.label_tag }}
                {{ form.date_year_from }}
            </div>
            <div class="input-small">
                {{ form.date_year_to.errors }}
                {{ form.date_year_to.label_tag }}
                {{ form.date_year_to }}
            </div>
        </div>
        <div>
            {{ form.material.errors }}
            {{ form.material.label_tag }}
            {{ form.material }}
        </div>
        <div>
            {{ form.dimensions.errors }}
            {{ form.dimensions.label_tag }}
            {{ form.dimensions }}
        </div>
        <div>
            {{ form.place_of_production.errors }}
            {{ form.place_of_production.label_tag }}
            {{ form.place_of_production }}
        </div>
        <div>
            {{ form.location_current.errors }}
            {{ form.location_current.label_tag }}
            {{ form.location_current }}
        </div>
        <div>
            {{ form.keywords.errors }}
            {{ form.keywords.label_tag }}
            {{ form.keywords }}
        </div>
        <div>
            {{ form.description.errors }}
            {{ form.description.label_tag }}
            {{ form.description }}
        </div>
        <div>
            {{ form.credits.errors }}
            {{ form.credits.label_tag }}
            {{ form.credits }}
        </div>
        <div>
            {{ form.checked.errors }}
            {{ form.checked.label_tag }}
            {{ form.checked }}
        </div>
        <div>
            {{ form.published.errors }}
            {{ form.published.label_tag }}
            {{ form.published }}
        </div>
    </div>
    {% endspaceless %}
</div>
</form>

{{ form.media.js }}

<script type='text/javascript'>
$(document).ready(function() {
    var reader = new FileReader();
    reader.onload = function (e) {
        if ($('.picture-missing')) {
            $('.picture-missing').removeClass('image-big');
            $('.image-big').addClass('image-big');
        }
        $('.image-big').attr('src', e.target.result);
    }

    function readURL(input) {
        if (input.files && input.files[0]) {
            reader.readAsDataURL(input.files[0]);
        }
    }

    $('.imageselector').change(function() {
        readURL(this);
    });

    $.getScript("{% static 'js/artwork_form.js' %}", function() {});
});
</script>
