{{ form.media }}

<form method="POST" enctype="multipart/form-data" class="editform" action="/artwork/{{id}}/edit_overlay.html">
{% csrf_token %}
<div class="content">
    <div class="image-wrapperA">
        <div class="image-wrapperB">
            <img class="image-big" src="{{imageOriginal.thumbnail.930x768}}"/>
            <div class="image-wrapperC">
                    {{ form.imageOriginal.label_tag }}
                    {{ form.imageOriginal }}
                    {{ form.imageOriginal.errors }}
            </div>  
        </div>
    </div>
</div>

<div class="sidebar-attached">
    <div class="confirmationarea">
        <button name="cancel" class="inspector-button cancel" id="hideoverlay" onClick="hideEditOverlay()">Cancel</button><button class="inspector-button confirm" type="submit">Save</button>
    </div>
    {% spaceless %}
    <div class="metadataarea">
        <div>
            {{ form.title.errors }}
            {{ form.title.label_tag }}
            {{ form.title }}
        </div>
        <div>
            {{ form.artists.errors }}
            {{ form.artists.label_tag }}
            {{ form.artists }}
        </div>
        <div>
            <div class="input-medium">
                {{ form.date.errors }}
                {{ form.date.label_tag }}
                {{ form.date }}
            </div>
            <div class="input-small">
                {{ form.dateYearFrom.errors }}
                {{ form.dateYearFrom.label_tag }}
                {{ form.dateYearFrom }}
            </div>
            <div class="input-small">
                {{ form.dateYearTo.errors }}
                {{ form.dateYearTo.label_tag }}
                {{ form.dateYearTo }}
            </div>
        </div>
        <div>
            {{ form.material.errors }}
            {{ form.material.label_tag }}
            {{ form.material }}
        </div>
        <div>
            {{ form.dimensions.errors }}
            {{ form.dimensions.label_tag }}
            {{ form.dimensions }}
        </div>
        <div>
            {{ form.locationOfCreation.errors }}
            {{ form.locationOfCreation.label_tag }}
            {{ form.locationOfCreation }}
        </div>
        <div>
            {{ form.credits.errors }}
            {{ form.credits.label_tag }}
            {{ form.credits }}
        </div>
    </div>
    {% endspaceless %}
</div>
</form>

<script type='text/javascript'>
$(document).ready(function() {

    var reader = new FileReader();
    reader.onload = function (e) {
        $('.image-big').attr('src', e.target.result);
    }
   
    function readURL(input) {
        if (input.files && input.files[0]) {
            console.log(input.files[0]);
            reader.readAsDataURL(input.files[0]);
        }
    }
    
    $('.imageselector').change(function() {
        readURL(this);
    });

    $('#id_date').keyup(function() {
        function updateInputFields(yearFrom, yearTo) {
            if (bCirca) {
                yearFrom -= 5;
                yearTo = parseInt(yearTo) + 5;
            }
            $('#id_dateYearFrom').val(yearFrom);
            $('#id_dateYearTo').val(yearTo);
        }
        var regexp, matchedParts;
        var bCirca = false;
        var userinput = $('#id_date').val().replace(/ /g,''); // remove spaces
        
        // detect circa
        if (userinput.startsWith('ca.')) {
            userinput = userinput.substring(3);
            bCirca = true;
        } else if (userinput.startsWith('um')) {
            userinput = userinput.substring(2);
            bCirca = true;
        }
        // TODO: "vor", "nach", "Ende", "Anfang"
        console.log(userinput);

        // detect year range: e.g. "1921-1923","-20000-0", "1943/1972" 
        regexp = /^([-]?\d{1,5})[-/]([-]?\d{1,5})$/;
        matchedParts = userinput.match(regexp);
        if (matchedParts) {
            updateInputFields(matchedParts[1], matchedParts[2]);
            return;
        }

        // detect date and date (DD.MM.YYYY) range: "5.3.1799", "24.10.1929-28.19.1929"
        regexp = /^\d{1,2}\.\d{1,2}\.(\d{1,4})(-\d{1,2}\.\d{1,2}\.(\d{1,4}))?$/;
        matchedParts = userinput.match(regexp);
        if (matchedParts) {
            updateInputFields(matchedParts[1], matchedParts[3]);
            return;
        }

        // century and century range: "14.Jh.", "13.Jh.-14.Jh."
        regexp = /^(\d{1,2})\.Jh\.(-(\d{1,2})\.Jh\.)?$/;
        matchedParts = userinput.match(regexp);
        if (matchedParts) {
            var from = ((matchedParts[1]-1)*100)+1;
            var to = from+99;
            if (matchedParts[3]) {
                to = (matchedParts[3]*100);
            }
            updateInputFields(from, to);
            return;
        }

        // detect year
        regexp = /(^[-]?\d{1,5})$/;
        matchedParts = userinput.match(regexp);
        if (matchedParts) {
            updateInputFields(matchedParts[1], matchedParts[1]);
            return;
        }

    });
});
</script>