{% block extra_scripts %}
<script type='text/javascript'>
$(document).ready(function() {

    var reader = new FileReader();
    reader.onload = function (e) {
        $('.image-big').attr('src', e.target.result);
    }
   
    function readURL(input) {
        if (input.files && input.files[0]) {
            reader.readAsDataURL(input.files[0]);
        }
    }
    
    $('.imageselector').change(function(){
        readURL(this);
    });

    /*$('.image-big').on() {
        console.log("{{ form.original.label_tag }}");
        var test = {{ form.original.label_tag }};
        $(test).trigger();
    }*/

});
</script>
{{ form.media }}
{% endblock extra_scripts %}

<form method="POST" enctype="multipart/form-data" class="editform" action="/artwork/edit/{{id}}.html">
    {% csrf_token %}
<div class="imagearea">
        <div class="image-wrapperA">
            <div class="image-wrapperB">
                <img class="image-big" src="{{big_url}}"/>
                <div class="image-wrapperC">
                        {{ form.original.label_tag }}
                        {{ form.original }}
                        {{ form.original.errors }}
                </div>  
            </div>
        </div>
</div>
<div class="editsidebar">
    <div class="confirmationarea">
        <button name="cancel" class="inspector-button cancel" id="hideoverlay" onClick="hideEditOverlay()">Cancel</button><button class="inspector-button confirm" type="submit">Save</button>
    </div>
    <div class="metadataarea">
        <a href="/artworks/delete/{{id}}.html"><button name="close">Delete</button></a>
        <div>
            {{ form.title.errors }}
            {{ form.title.label_tag }}
            {{ form.title }}
        </div>
        <div>
            {{ form.artists.errors }}
            {{ form.artists.label_tag }}
            {{ form.artists }}
        </div>
        <div>
            {{ form.date.errors }}
            {{ form.date.label_tag }}
            {{ form.date }}
        </div>
        <div>
            {{ form.material.errors }}
            {{ form.material.label_tag }}
            {{ form.material }}
        </div>
        <div>
            {{ form.dimensions.errors }}
            {{ form.dimensions.label_tag }}
            {{ form.dimensions }}
        </div>
        <div>
            {{ form.locationOfCreation.errors }}
            {{ form.locationOfCreation.label_tag }}
            {{ form.locationOfCreation }}
        </div>
        <div>
            {{ form.credits.errors }}
            {{ form.credits.label_tag }}
            {{ form.credits }}
        </div>
    </div>
</div>
</form>
