{% load i18n %}

{% comment %}
---------------------------------------------------------
this template defines the overlay the user sees
when she double-clicks a specific artwork
---------------------------------------------------------
{% endcomment %}

<div class="content">
    {% if not artwork.image_original %}
        <div class="image-big picture-missing"></div>
    {% else %}
        <img class="image-big" src="{{artwork.image_original.thumbnail.930x768}}"/>
    {% endif %}
    <button name="close" class="button-close" id="hideDetailOverlay" onClick="hideImageAndOverlay()"></button>
</div>

<div class="sidebar-attached">
    <aside class="inspector" id="detail-overlay-inspector">
        <div>
            <button class="inspector-button">{% trans 'addtocollection' %}</button><button class="inspector-button">{% trans 'Edit' %}</button>
        </div>
        </aside>
    </aside>
</div>