{% extends 'base.html' %}
{% load has_group %}
{% load i18n %}

{% comment %}
---------------------------------------------------------
This template defines how the list of collections is 
rendered. It brings its own javascript, needed for the 
select menu.
---------------------------------------------------------
{% endcomment %}

{% block collectionslist %}
<section class="thumbnail-area">

    <div class="thumbnail-navbar">
        <nav class="navigation">
            <ol>
                <li><a href="{% url 'artworks-list' %}">{% trans 'All Artworks' %}</a></li><li class="selected"><a href="{% url 'collections-list' %}">{% trans 'Collections' %}</a></li>
            </ol>
        </nav>
        <div id="collection-nav">
        {% if collections or my_collections %}
            <form method="GET" action="">
                <select name="collection-selector" id="collection-selector">
                    <option value="">{% trans 'All Collections' %}</option>
                    <optgroup label="{% trans 'My Collections' %}">
                    {% for collection in my_collections %}
                        <option value="{{collection.id}}">{{collection.title}}</option>
                    {% endfor %}
                    </optgroup>
                    {% regroup collections|dictsort:"user.get_full_name" by user.get_full_name as grouped_collections %}
                    {% for collection_user in grouped_collections %}
                        <optgroup label="
                            {% if collection_user.grouper %}
                                {{ collection_user.grouper }}
                            {% else %}
                                Unnamed Editor
                            {% endif %}">
                            {% for collection in collection_user.list %}
                                <option value="{{collection.id}}">{{collection.title}}</option>
                            {% endfor %}
                        </optgroup>
                    {% endfor %}
                </select>
            </form>
        {% endif %}
        </div>
    </div>

    <div class="list">
        <table id="js-collections-list" class="collections-list">
        {% if my_collections %}
            <tr><th colspan="2">{% trans 'My Collections' %}</th></tr>
            {% for collection in my_collections %}
                <tr class="collection" data-collectionid="{{collection.id}}"><td>{{collection.title}}</td>
                <td>{{collection.size}}</td>
                </tr>
            {% endfor %}
        {% endif %}
        {% if collections %}
            {% regroup collections|dictsort:"user.get_full_name" by user.get_full_name as grouped_collections %}
            {% for collection_user in grouped_collections %}
                    <tr><th colspan="2">
                    {% if collection_user.grouper %}
                        {{ collection_user.grouper }}
                    {% else %}
                        Unnamed Editor
                    {% endif %}
                    </th></tr>
                    {% for collection in collection_user.list %}
                        <tr class="collection" data-collectionid="{{collection.id}}"><td>{{collection.title}}</td>
                        <td>{{collection.size}}</td>
                        </tr>
                    {% endfor %}

            {% endfor %}
        {% endif %}
        </table>
    </div>

</section>
{% endblock collectionslist %}

{% block extra_scripts %}
<script type='text/javascript'>
    $(document).ready(function() {
        $("#collection-selector").selectmenu({
            change: function(event, ui) {
                let id = ui.item.value;
                if (id) {
                    window.location = `{{ FORCE_SCRIPT_NAME }}/collection/${id}.html`;
                } else {
                    window.location = '{% url "collections-list" %}';
                }
            }   
        });
        $("#js-collections-list tr").on('click', function (e) {
            var clickedCollection = e.currentTarget.dataset.collectionid;
            if (clickedCollection) {
                window.location = `{{ FORCE_SCRIPT_NAME }}/collection/${clickedCollection}.html`;
            }
        });
    });
</script>
{% endblock extra_scripts %}


