{% extends 'base.html' %}
{% load has_group %}

{% block collectionslist %}
<section class="thumbnail-area">

    <div class="thumbnail-navbar">
        <nav class="navigation">
            <ol>
                <li><a href="{% url 'artworks_list' %}">All Artworks</a></li><li class="selected"><a href="{% url 'collections_list' %}">Collections</a></li>
            </ol>
        </nav>
        {% if collections %}
        <div id="collection-nav">
            <form method="GET" action="">
                <select name="collection-selector" id="collection-selector">
                        <option value="">All collections</option>
                        {% for collection in all_collections %}
                            <option value="{{collection.id}}">{{collection.title}}</option>
                        {% endfor %}
                </select>
            </form>
        </div>
        {% endif %}
    </div>


    <div class="list"></div>
        <table id="js-collections-list" class="collections-list">
        {% if my_collections %}
            <tr><th colspan="2">My Collections</th></tr>
            {% for collection in my_collections %}
                <tr class="collection" data-collectionid="{{collection.id}}"><td>{{collection.title}}</td>
                <td>{{collection.size}}</td>
                </tr>
            {% endfor %}
        {% endif %}
        {% if collections %}
            {% regroup collections|dictsort:"user.get_full_name" by user.get_full_name as grouped_collections %}
            {% for collection_user in grouped_collections %}
                    <tr><th colspan="2">
                    {% if collection_user.grouper %}
                        {{ collection_user.grouper }}
                    {% else %}
                        Unnamed Editor
                    {% endif %}
                    </th></tr>
                    {% for collection in collection_user.list %}
                        <tr class="collection" data-collectionid="{{collection.id}}"><td>{{collection.title}}</td>
                        <td>{{collection.size}}</td>
                        </tr>
                    {% endfor %}

            {% endfor %}
            </table>
        {% else %}
        <p>There are no other collections yet.</p>
        {% endif %}
    </div>

</section>

<script type='text/javascript'>
    $(document).ready(function() {
        $("#collection-selector").selectmenu({
            change: function(event, ui) {
                let id = ui.item.value;
                if (id) {
                    window.location = `/collection/${id}.html`;
                } else {
                    window.location = '{% url 'collections_list' %}';
                }
            }   
        });
        $("#js-collections-list tr").on('click', function (e) {
            var clickedCollection = e.currentTarget.dataset.collectionid;
            if (clickedCollection) {
                window.location = `/collection/${clickedCollection}.html`;
            }
        });
    });
</script>
{% endblock collectionslist %}

