{% extends 'base.html' %}
{% load i18n %}

{% comment %}
---------------------------------------------------------
This template defines how a collection is rendered.
It brings its own javascript, needed for the select menu
and the reordering and connecting artworks.
It also renders all thumbnails dynamically via javascript.
---------------------------------------------------------
{% endcomment %}

{% block collectionslist %}
<section class="thumbnail-area">

    <div class="thumbnail-navbar">
        <nav class="navigation">
            <ol>
                <li><a href="{% url 'artworks_list' %}">{% trans 'All Artworks' %}</a></li><li class="selected"><a href="{% url 'collections_list' %}">{% trans 'Collections' %}</a></li>
            </ol>
        </nav>
        {% if collections or my_collections %}
        <div id="collection-nav">
            <form method="GET" action="">
                <select name="collection-selector" id="collection-selector">
                    <option value="">{% trans 'All Collections' %}</option>
                    <optgroup label="{% trans 'My Collections' %}">
                    {% for collection in my_collections %}
                        <option value="{{collection.id}}" {% if collection.id == id %} selected {% endif %}>{{collection.title}}</option>
                    {% endfor %}
                    </optgroup>
                    {% regroup collections|dictsort:"user.get_full_name" by user.get_full_name as grouped_collections %}
                    {% for collection_user in grouped_collections %}
                        <optgroup label="
                            {% if collection_user.grouper %}
                                {{ collection_user.grouper }}
                            {% else %}
                                Unnamed Editor
                            {% endif %}">
                            {% for collection in collection_user.list %}
                                <option value="{{collection.id}}" {% if collection.id == id %} selected {% endif %}>{{collection.title}}</option>
                            {% endfor %}
                        </optgroup>
                    {% endfor %}
                </select>
            </form>
            {% if perms.artworks.can_download_pptx %}
            <div id="js-download-pptx" alt="{% trans 'Download PowerPoint' %}" title="{% trans 'Download PowerPoint' %}">
                <div class="btn-download-pptx" alt="{% trans 'Close' %}" title="{% trans 'show/hide download options' %}"></div>
                <a href="{{ FORCE_SCRIPT_NAME }}/collection/{{id}}_de.pptx" class="btn-download-pptx-german" alt="{% trans 'Download PowerPoint German' %}" title="{% trans 'download PowerPoint German' %}"></a>
                <a href="{{ FORCE_SCRIPT_NAME }}/collection/{{id}}_en.pptx" class="btn-download-pptx-english" alt="{% trans 'Download PowerPoint English' %}" title="{% trans 'download PowerPoint English' %}"></a>
            </div>
            {% endif %}
        </div>
        {% endif %}
    </div>

    {% if memberships %}
    <div id="thumbnails"></div>
    {% else %}
    <div class="nothing-found">{% trans 'NoArtworks' %}</div>
    {% endif %}
    
</section>
{% endblock collectionslist %}

{% block extra_scripts %}
<script type='text/javascript'>

$(document).ready(function() {
    var collectionID = {{ id }};
    var csrftoken = jQuery("[name=csrfmiddlewaretoken]").val();
    var mainPath = '{{ FORCE_SCRIPT_NAME }}';


    // this select menu allows the user to switch from one collection to another
    $( "#collection-selector" ).selectmenu({
        change: function(event, ui) {
            let id = ui.item.value;
            if (id) {
                window.location = `{${mainPath}}/collection/${id}.html`;
            } else {
                window.location = '{% url "collections_list" %}';
            }
        }   
    });


    // the connector allows to connect or disconnect two artworks
    // connected artworks are shown on one slide in the exportable powerpoint presentation
    // connected artworks also stick together when left to the left or right
    $('.thumbnail-area').on('click', '.connector', function (e) {
        e.stopPropagation();
        var url = `{{ FORCE_SCRIPT_NAME }}/collection/${collectionID}.html`;
        $.ajax({
            type: 'POST',
            url: url,
            data: {
                'csrfmiddlewaretoken': '{{ csrf_token }}',
                'member-left': e.currentTarget.dataset.memberleft,
                'member-right': e.currentTarget.dataset.memberright,
                'action': e.currentTarget.dataset.action
            },
            success: function(message) {
                updateSlides();
                console.log('disconnecting');
            },
            error: function(error) {
                console.log(error);
            }
        });
    });


    // moves the selected artwork in a collection in certain direction
    // direction = 'left' or 'right'
    moveArtwork = function(selectedThumbnail, direction) {
        $.ajax({
            type: 'POST',
            url: selectedThumbnail.dataset.collectionurl,
            data: {
                'csrfmiddlewaretoken': csrftoken,
                'membership-id': selectedThumbnail.dataset.membershipid,
                'action': direction
            },
            success: function(message) {
                updateSlides();
            },
            error: function(error) {
                console.log(error);
            }
        });
    }


    // after an artwork has been connected, disconnected or moved
    // the whole collection gets updated
    updateSlides = function() {
        var path = '{{ FORCE_SCRIPT_NAME }}';
        var jsonUrl = '{{ FORCE_SCRIPT_NAME }}/collection/{{id}}.json';
        
        var divOldThumbnails = document.getElementById('thumbnails');
        var divNewThumbnails = document.createElement('div');
        divNewThumbnails.id = 'thumbnails';

        $.getJSON(jsonUrl, function(data) {
            // build all the elements and append them to the DOM
            previousMember = null;
            previousThumbnail = null;
            previousNeedsConnection = false;

            for (member of data.members) {
                // build the thumbnail
                var divThumbnail = document.createElement('div');
                divThumbnail.classList.add('thumbnail', 'orderable');
                divThumbnail.dataset.url = `${path}/artwork/${member.artwork.id}`;
                divThumbnail.dataset.membershipid = member.id;
                var divCenter = document.createElement('div');
                divCenter.classList.add('vertically-center');
                var elImage =  document.createElement('img');
                elImage.classList.add('picture-thumbnail');
                elImage.src = member.artwork.image_original.thumbnail;
                divCenter.appendChild(elImage);
                divThumbnail.appendChild(divCenter);
                var divTitle = document.createElement('div');
                divTitle.classList.add('thumbnail-title');
                var elTitle = document.createTextNode(member.artwork.title);
                divTitle.appendChild(elTitle);
                divThumbnail.appendChild(divTitle);
                var divArtist = document.createElement('div');
                divArtist.classList.add('thumbnail-artist');
                var artistList = [];
                for (artist of member.artwork.artists) {
                    artistList.push(artist.name);
                }
                var elTitle = document.createTextNode(artistList.join(', '));
                divArtist.appendChild(elTitle);
                divThumbnail.appendChild(divArtist);

                // between the thumbnails are connectors which allow
                // to connect two artworks together
                var divControl = document.createElement('div');
                divControl.classList.add('connector');

                // connected artworks belong in a containing div, so the wrapping
                // in the browser can work correctly
                if (member.connected_with) {
                    if (previousNeedsConnection === false) {
                        previousNeedsConnection = true;
                        previousMember = member;
                        previousThumbnail = divThumbnail;
                    } else {
                        // build the containing div
                        var divTwoImagesOnOneSlide = document.createElement('div');
                        divTwoImagesOnOneSlide.classList.add('slide-for-two-artworks');
                        // add the disconnect functionality
                        divControl.dataset.action = 'disconnect';
                        divControl.dataset.memberleft = previousMember.id;
                        divControl.dataset.memberright = member.id;
                        divTwoImagesOnOneSlide.append(previousThumbnail, divThumbnail, divControl);
                        divNewThumbnails.appendChild(divTwoImagesOnOneSlide);
                        previousMember = null;
                        previousThumbnail = null;
                        previousNeedsConnection = false;
                    }
                } else {
                    if (previousMember) {
                        // if the previous artwork wasn't connected,
                        // add the connect-functionality here
                        divControl.dataset.action = 'connect';
                        divControl.dataset.memberleft = previousMember.id;
                        divControl.dataset.memberright = member.id;
                        divNewThumbnails.append(divControl);
                    }
                    divNewThumbnails.appendChild(divThumbnail);
                    previousMember = member;
                    previousThumbnail = divThumbnail;
                }
            }
            divOldThumbnails.parentElement.replaceChild(divNewThumbnails, divOldThumbnails);
            // after the thumbnails have been updated, the former selected thumbnail
            // has to be re-selected
            if (selectedThumbnail) {
                selectedThumbnail.classList.remove('selected');
                var newSelectedThumbnail = $("[data-membershipid='" + selectedThumbnail.dataset.membershipid +"']")[0];
                if (newSelectedThumbnail) {
                    newSelectedThumbnail.classList.add('selected');
                    selectedThumbnail = newSelectedThumbnail;
                }
            }
        });
    }

    updateSlides();
});
</script>
{% endblock extra_scripts %} 