{% extends 'base.html' %}

{% block extra_scripts %}
{{ form.media }}
{% endblock extra_scripts %}

{% block thumbnailbrowser %}
<section class="thumbnail-area">

    <div class="thumbnail-navbar">
        <nav class="navigation">
            <ol>
                <li class="selected"><a href="{{url}}/">All Artworks</a></li><li><a href="{{url}}/collections.html">Collections</a></li>
            </ol>
        </nav>
        <div id="search">
            <form method="GET" action="">
                <input id="search_artworks_field" placeholder="Search Artworks" name="title" value="{{ request.GET.title }}" autocomplete="off" type="search" role="title search" autofocus/><span id="clear_search_artwork_field"></span>
            </form>
        </div>
    </div>

    {% include "artwork/artwork_pagination.html" %}

    {% include "artwork/artwork_thumbnails.html" %}

</section>
{% endblock thumbnailbrowser %}