{% extends 'base.html' %}
{% block thumbnailbrowser %}
<section class="thumbnail-area">
    <div class="thumbnail-navbar">
        <nav class="navigation">
            <ol>
                <li class="selected"><a href="{% url 'artworks_list' %}">All Artworks</a></li><li><a href="{% url 'collections_list' %}">Collections</a></li>
            </ol>
        </nav>
        <div id="search">
            <form method="GET" action="">
                <input id="search_artworks_field" placeholder="Search Artworks" name="title" value="{{ query_title|default:'' }}" autocomplete="off" role="title search" autofocus/><span id="clear_search_artwork_field"></span>
                <input id="bla" placeholder="Artist" name="artists" value="{{ query_artists|default:''}}" autocomplete="off" role="artists search"/>
                <input id="bla" placeholder="Keywords" name="keywords" value="{{ query_keywords|default:''}}" autocomplete="off" role="keywords search"/>
                <input type="submit"/>
            </form>
        </div>
    </div>

    {% include "artwork/artwork_pagination.html" %}

    {% include "artwork/artwork_thumbnails.html" %}

</section>
{% endblock thumbnailbrowser %}