{% load json_extras %}

<script type="text/javascript" src="{{ BASE_HEADER }}"></script>
<script type="text/javascript">
  var bh=document.getElementsByTagName("base-header")[0];
  bh.active="{{ active }}";
  bh.profile={% if user.is_authenticated %}{name:"{{ user.get_full_name }}",email:"{{ user.email }}",permissions:{{ request.session.attributes.permissions|permissions_to_json }}}{% else %}null{% endif %};
  {% comment %}var bf=document.getElementsByTagName("base-footer")[0];{% endcomment %}
  bh.urls={% comment %}bf.urls={% endcomment %}{login:"{% url 'cas_ng_login' %}",logout:"{% url 'cas_ng_logout' %}",postUrl:"{% url 'set_language' %}"};
</script>
