{% load i18n %}
{% load static %}
{% load string_extras %}

{% comment %}
---------------------------------------------------------
This template gets extended by all pages, which need a 
proper html skeleton:
* artwork/thumbnailbrowser.html
* artwork/collection_list.html
* artwork/collection.html
---------------------------------------------------------
{% endcomment %}

<html>
    <head>
        <title>Image | base Angewandte</title>
        <link type="text/css" rel="stylesheet" href="{% static 'css/base.css' %}">
        <link type="text/css" rel="stylesheet" href="{% static 'css/fonts.css' %}">

        <script type="text/javascript" src="{% static '3rd-party/jquery-3.3.1.min.js' %}"></script>
        <script type="text/javascript" src="{% static 'js/artworks.js' %}"></script>
        <script type="text/javascript" src="{% url 'javascript-catalog' %}"></script>
        <script src="{% static '3rd-party/jquery-ui-1.12.1.custom/jquery-ui.js' %}"></script>
        <link rel="stylesheet" href="{% static '3rd-party/jquery-ui-1.12.1.custom/jquery-ui.css' %}"> 
        <link type="text/css" rel="stylesheet" href="{% static 'css/edit.css' %}">
        {% block extra_scripts %}
        {% endblock extra_scripts %}
        <meta name="viewport" content="width=device-width, shrink-to-fit=yes"/>
    </head>
    <body class="show-thumbnailbrowser">
        {% get_current_language as LANGUAGE_CODE %}
        <div class="topbar-wrapper">
            <div id="topbar">
                <div class="wrapper">
                    <base-header active="image" lang="{{ LANGUAGE_CODE }}" post-lang="true" post-csrf="{{ csrf_token }}"></base-header>
                </div>
            </div>
        </div>
        <div id="thumbnailbrowser">
            {% block collectionslist %}
            {% endblock collectionslist %}       
            {% block thumbnailbrowser %}
            {% endblock thumbnailbrowser %}
            <section class="sidebar-detached">
                <aside class="inspector{% if perms.artworks.change_artwork %} editable{% endif %}" id="thumbnailbrowser-inspector">
                <div></div>
                </aside>
            </section>
        </div>
        <div class="wrapper wrapper-footer">
                <base-footer lang="{{ LANGUAGE_CODE }}" logged-in="{% if user.is_authenticated %}true{% else %}false{% endif %}" post-lang="true" post-csrf="{{ csrf_token }}"></base-footer>
        </div>
        <div id="detail-overlay" class="overlay">
        </div>
        <div id="edit-overlay" class="overlay">
        </div>
        <div id="collect-overlay" class="overlay">
        </div>
        
        <div class="not-supported">
          {{ _('This resolution is not supported.') }}
        </div>

        <script type="text/javascript" src="{{ BASE_HEADER }}"></script>
          <script type="text/javascript">
          var bh=document.getElementsByTagName("base-header")[0];
          bh.profile={% if user.is_authenticated %}{name:"{{ user.get_full_name }}",permissions:{{ request.session.attributes.permissions|csv_to_json }}}{% else %}null{% endif %};
          var bf=document.getElementsByTagName('base-footer')[0];
          bh.urls=bf.urls={login:"{% url 'cas_ng_login' %}",logout:"{% url 'cas_ng_logout' %}",postUrl:"{% url 'set_language' %}"};
        </script>
    </body>
</html>