# compile this file with 'uv pip compile requirements.in -o requirements.txt'
# sync environment with 'uv pip sync requirements.txt'
# to update all packages run 'uv pip compile requirements.in -o requirements.txt --upgrade'

base-common==0.4
base-common-drf==0.5
concurrent-log-handler==0.9.28
django~=4.2
django-autocomplete-light==3.12.1
django-cas-ng==5.0.1
django-cleanup==9.0.0
django-cors-headers==4.9.0
django-environ==0.12.0
django-extensions==4.1
django-filter==25.1
django-jsonform==2.23.2
django-mass-edit==3.5.0
django-mptt==0.18.0
# django-ordered-model is only needed for older migrations
# and can be removed once migrations are squashed
django-ordered-model==3.7.4
django-redis==6.0.0
django-rq==3.2.2
django-tinymce==5.0.0
djangorestframework==3.16.1
drf-spectacular[sidecar]==0.29.0
psycopg[binary]==3.2.13
python-magic==0.4.27
python-pptx==1.0.2
requests==2.32.5
rich==14.3.3
sentry-sdk[django]==2.52.0
whitenoise[brotli]==6.11.0
sorl-thumbnail==12.11.0
wand==0.6.13

# Server
gunicorn==23.0.0
rainbow-saddle==0.4.0
