# compile this file with 'uv pip compile requirements-dev.in -o requirements-dev.txt'
# sync environment with 'uv pip sync requirements-dev.txt'
# to update all packages run 'uv pip compile requirements-dev.in -o requirements-dev.txt --upgrade'

-r requirements.in

pre-commit
