{% load i18n %}
{% block terms_of_service %}
<div class="termsOfService">
    <h1>Nutzungsbedingungen</h1><br>
       <h2>1. Allgemeines</h2><br>
          <ul>
              <li>1. Image ist die universitätseigene, nicht-proprietäre Bilddatenbank der Universität für angewandte Kunst Wien und kann online über die base Angewandte (<a href="https://base.uni-ak.ac.at/image/" target="_blank" class="external-link">https://base.uni-ak.ac.at/image/</a>) abgerufen werden.</li>
              <li>2. Image ist mittels eines passwortgeschützten Logins für Angehörige der Universität für angewandte Kunst zugänglich.</li>
              <li>3. Die Abbildungen in Image sind mit hochwertigen Metadaten angereichert, die Werkinformationen wissenschaftlich gesichert.</li>
              <li>4. Der technische Support erfolgt über das Team der base Angewandte; die inhaltliche Redaktion liegt bei der Abteilung Kunstgeschichte.</li>
          </ul><br>
        <h2>2. Verfügungsbeschränkung, Haftung, Verwertungs- und Urheber*innenrechte</h2><br>
          <ul>
              <li>1. Die Bilddateien sowie Metadaten auf Image werden für die ausschließliche Verwendung in Lehre, Studium und Forschung an der Universität für angewandte Kunst Wien für deren Universitätsangehörige zur Verfügung gestellt.</li>
              <li>2. Zugang erhalten Angehörige der Universität für angewandte Kunst Wien über ihre personalisierten Login-Daten zur base Angewandte.</li>
              <li>3. Mit den Bilddatensätzen können innerhalb der Bilddatenbank Präsentationen und Bildsammlungen erstellt werden, die ebenso ausschließlich im Rahmen von Lehre, Studium und Forschung genutzt werden können.</li>
              <li>4. Die über Image zur Verfügung gestellten Bilddatensätze werden, sofern sie urheber*innenrechtlich geschützt sind und nicht gemeinfrei oder über eine CC-Lizenz lizenziert, nur zur Nutzung in Lehre, Studium und Forschung bereitgestellt. Für die darüber hinaus gehende Nutzung müssen Nutzer*innen das Einverständnis der Urheber*innen bzw. der Rechteinhaber*innen selbst einholen. </li>
              <li>5. Die Nutzung der Bilddatensätze außerhalb der Universität für angewandte Kunst Wien wird ausdrücklich nicht mit dem durch Image verbundenen Dienst eingeräumt.</li>
              <li>6. Image stellt sowohl urheber*innenrechtlich geschützte als auch gemeinfreie Bilddatensätze zur Verfügung. Diese dürfen nur unter Einhaltung der urheber*innenrechtlichen Bestimmung und der, sofern vorhandenen, individuellen Bestimmungen der Rechteinhaber*innen (etwa bei CC-lizensierten Bildern) genutzt werden (s. Hyperlink).</li>
              <li>7. Weitere allgemeine Informationen zur Nutzung von Bildern in Forschung, Lehre und Studium werden hier [Hyper/link] zur Verfügung gestellt.</li>
              <li>8. Die Benutzer*innen tragen die volle Verantwortung für ihre Verwendung der Bilddatenbank und haben dafür zu sorgen, dass die zur Verfügung gestellten Inhalte nicht von Dritten unzulässig verwendet werden.</li>
              <li>9. Die Benutzer*innen haften für alle Schäden, die durch missbräuchliche oder fahrlässige Verwendung der zur Verfügung gestellten Strukturen und Dienste verursacht werden, insbesondere auch im Zusammenhang mit ungeklärten oder fehlenden Nutzungsrechten für Bilder, Videos oder andere Medien und dem Datenschutz.</li>
              <li>10. Entstehen der Universität als Betreiberin Kosten aufgrund von Aktivitäten, die von einzelnen Benutzer*innen im Widerspruch zur dieser Benutzungsrichtlinie gesetzt werden, kann sie diese Kosten gegenüber den jeweiligen Benutzer*innen geltend machen.</li>
          </ul><br>
        <h2>3. Hochladen von Bilddateien</h2><br>
          <ul>
             <li>1. Nutzer*innen können die Aufnahme von ihnen benötigten Bilddaten in die Bilddatenbank im Rahmen von Forschung, Lehre und Studium veranlassen. Dafür ist eine geeignete Bildvorlage sowie verlässliche Metadaten notwendig. Mehr Informationen unter [Hyper/link]</li>
          </ul><br>
        <h2>4. Gewährleistung, Haftung</h2><br>
          <ul>
              <li>1. Image haftet nicht für die Korrektheit der zur Verfügung gestellten Inhalte.</li>
              <li>2. Image distanziert sich von Inhalten Dritter, die über Links in Image aufgerufen werden können, und macht sich diese nicht zu Eigen.</li>
          </ul><br>
        <h2>5. Logfiles</h2><br>
          <ul>
             <li>1. Logfiles werden XY gespeichert. XXXXX [mit base absprechen]</li>
          </ul><br>
        <h2>6. Sonstiges</h2><br>
          <ul>
              <li>1. Erfüllungsort und Gerichtsstand ist Wien.</li>
              <li>2. Soweit nicht anders benannt, unterliegt jede Nutzung der Bilddatenbank Image dem Recht der Republik Österreich.</li>
          </ul><br>,
</div>
{% endblock terms_of_service %}